<h1>Welcome to Ronin:Attack and Penetration Testing Tool</h1>
    <ol><%= link_to 'Information Gathering', landing_info_path%></ol>
    <ol><%=link_to 'Exploitations', landing_exploit_path%></ol>
        
